body{
    background: rgb(202, 116, 55);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color:black
}

a:visited{
    color:inherit;
}

.inicio{
        border: 3px solid #aaaa;
        background-color: cornsilk;
        top: 10px; 
        right: 10px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;      
}

h1{
    border: 3px solid #aaaa;
        background-color: cornsilk;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
}

.menu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background: lightgoldenrodyellow;
    text-align: center;
    border: 5px solid rgb(156, 134, 74);
    border-radius: 15px;
    box-shadow: 5px 5px 10px burlywood;
    width: 400px;
    font-size: x-large;
}

.opciones{
        border: 3px solid #aaaa;
        background-color: cornsilk;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        
}

.opciones:hover{
    background: darksalmon; 
}


/* button:hover{
    background: brown;
} */

.ventana{
    background: blanchedalmond;
    text-align: center;
    border: 10px solid burlywood /* borde tamaño y color; */;
    box-shadow: 10px 10px 10px bisque;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
}

.tamaño{
    padding-left: 20px;
    text-align: center;
}


.formulario{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color: blanchedalmond;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

/* Estilos de los registros */
.container {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 400px;
    
}
table {
    color: lightgoldenrodyellow;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    
}

thead {
    background: rebeccapurple;
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgb(255, 255, 255);
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: darkslateblue;
}



/* Estilos del boton */

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.raise {
    --color: darkred;
    --hover: red;
  }

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: darkred;
}
